%h1 students
- form_for @search, :url => students_path, :html => { :method => :get } do |f|
  = f.label :Year
  = f.select :year_id_eq, (@years.collect { |c| [c.year, c.id]}), :include_blank => true
  = f.label :Name
  = f.text_field :name_contains, :size => 16
  = f.label :Surname
  = f.text_field :surname_contains, :size => 16
  = f.submit "Search"
%table
  %tr
    %th
      Year
    %th
      Name
    %th
      Surname
    %th
      Actions
  - @students.each do |s|
    %tr
      %td
        - if s.year
          = s.year.year
      %td
        = s.name
      %td
        = s.surname
      %td
        = link_to "Edit", edit_student_path(s)
        = link_to 'Delete', s, :confirm => 'Are you sure?', :method => :delete
        = link_to 'Subjects', s
%p= will_paginate @students
%p= link_to 'Add new', new_student_path
%p= link_to "Years panel", admin_years_path
%p= link_to "Sign up", new_user_registration_path
