%h1
  New subject for
  = @subject.student.name
  = @subject.student.surname
- form_for([@subject.student, @subject]) do |f|
  = render :partial => "form", :locals => {:f => f}
  = f.submit 'Create'
= link_to 'Back', @subject.student
